.GamePage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: #b8b1c8;
    margin-bottom: 48px;

    >.sectionCar {
        width: 54%;
        height: 140px;
        position: absolute;
        bottom: 200px;
        margin: 0 auto;
        display: flex;
        border: 1px solid red;
    }

    >.gameRoad {
        width: 100%;
        height: 5000%;
        background-image: url('../../images/road_game.png');
        background-size: contain;
        background-repeat: repeat-y;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 60px 0 100px;
        position: relative;
        // animation: topAnim 100s linear infinite;
        transform: translateY(-98%);
        border: 1px solid white;
    }

    >.bonuses {
        width: 70%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        bottom: 10%;
        z-index: 0;

        // animation: bonuseAnim 2.114s linear infinite;
        // background: purple;
        >.bonuse_option {
            width: 48%;
            height: calc(100vh - 48px);
            // border: 1px solid white;
            display: flex;
            justify-content: center;
            align-items: center;
            // transform: translateY(350px);

        }
    }

    >.panelDriver {
        width: 100%;
        height: calc(100% - 290px);
        position: absolute;
        top: 101px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 35px 0 56px;

        >.click {
            width: 48%;
            height: 100%;
            background: none;
            border: none;
            outline: none;
        }
    }

    >.gamePanels {
        width: 100%;
        height: calc(100% - 48px);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // padding-bottom: 90px;

        >.topPanel {
            width: 100%;
            height: 52px;

            >.crystalPanel {
                width: 100%;
                height: 100%;
                background-image: url('../../images/panel_game_top.png');
                background-size: cover;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 5px;

                >span {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 24.381px;
                    line-height: 30px;
                    color: #FFFFFF;
                }

                >.crystal {
                    width: 25px;
                }
            }

            >.fuelPanel {
                height: 45px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                right: 1.5%;
                top: 15px;
                gap: 1px;

                >.fuel {
                    height: 50px;
                }

                >span {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 24.381px;
                    line-height: 30px;

                    background: linear-gradient(81.66deg, #271B64 0%, #0A0522 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }
        }

        >.bottomPanel {
            width: 100%;
            height: 234px;
            background-image: url('../../images/panel.png');
            background-size: cover;
            display: flex;
            justify-content: center;
            // align-items: center;
            padding-top: 60px;

            >.wheel {
                width: 159px;
                height: 158px;
                background-image: url('../../images/wheel.png');
                background-size: cover;
                position: relative;
                top: 10px;
            }
        }
    }

    >.counterInStart {
        width: 100%;
        height: calc(100% - 234px);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;

        >span {
            font-size: 70px;
            animation: counterSpan 1.2s linear infinite;
            color: #cd3513;
            text-shadow: 0 0 5px rgba($color: black, $alpha: .5);
        }
    }

    >.gameEnd {
        width: 100%;
        height: calc(100% - 234px);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        align-items: center;

        >span {
            font-size: 70px;
            align-items: center;
            animation: loseSpan .6s linear;
            color: #cd3513;
            text-shadow: 0 0 5px rgba($color: black, $alpha: .5);
        }
    }
}

@keyframes wheelRight {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes wheelLeft {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes topAnim {
    0% {
        transform: translateY(-98%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes bonuseAnim {
    0% {
        transform: translateY(-450px);
    }

    100% {
        transform: translateY(450px);
    }
}

@keyframes counterSpan {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
        transform: scale(.8);
    }

    90% {
        opacity: 1;
        transform: scale(1.8);
    }

    100% {
        opacity: 0;
    }
}

@keyframes loseSpan {
    0% {
        opacity: 0;
        transform: scale(.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}