@import url('../components/nav_panel/NavPanel.scss');
@import url('../pages/startMenu/startMenu.scss');
@import url('../pages/gamePage/GamePage.scss');
@import url('../components/car/Car.scss');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

.App {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}